<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwin._6mybatisplus.mapper.EmpMapper">

    <update id="edit">
        update emp
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="enterdate != null">
                enterdate = #{enterdate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="managerId != null">
                manager_id = #{managerId},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="DeptWithEmpMap" type="com.kwin._6mybatisplus.pojo.Dept">
        <id column="did" property="id"></id>
        <result column="dname" property="name"></result>
        <collection property="empList" ofType="com.kwin._6mybatisplus.pojo.Emp">
            <id column="eid" property="id"></id>
            <result column="ename" property="name"></result>
            <result column="age" property="age"></result>
            <result column="enterdate" property="enterdate"></result>
            <result column="dept_id" property="deptId"></result>
            <result column="manager_id" property="managerId"></result>
            <result column="job" property="job"></result>
            <result column="salary" property="salary"></result>
            <result column="create_time" property="createTime"></result>
            <result column="update_time" property="updateTime"></result>

            <collection property="empExprList" ofType="com.kwin._6mybatisplus.pojo.EmpExpr">
                <id column="eeid" property="id"></id>
                <result column="company" property="company"></result>
                <result column="emp_id" property="empId"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="getDeptAndEmps" resultMap="DeptWithEmpMap">
        select
            d.id did, d.name dname,
            e.id eid, e.name ename, e.age, e.enterdate, e.dept_id, e.manager_id, e.job, e.salary, e.create_time, e.update_time,
            ee.id eeid, ee.company, ee.emp_id
            from dept d
            left join emp e on d.id = e.dept_id
            left join emp_expr ee on e.id = ee.emp_id
            where d.id = #{id}
    </select>
</mapper>